{% extends "index.html" %}

{% block head %}
<script>
    const searchForOperation = () => {
        const searchInputValue = document.getElementById("operation_search").value
        window.location.href = '/pages/search/%{searchInputValue}' ;

    }
</script>
{% endblock %}

{% block content %}

hello  world!

    <div>
        <input id="operation_search" type="text" placeholder="yyyyy" >
        <button onclick="searchForOperation()" >search</button>
    </div>

    {% for operation in operations %}
       <div>
          <div>
            <span>{{ operation }}</span>
          </div>
       </div>
    {% endfor %}



{% endblock %}